@import 'global'

h3
  font-size: 2rem
  font-weight: 400
  color: white
  text-align: center

a
  +body-font
  +box-sizing
  text-align: center
  width: 10rem
  padding: 0.7rem 0
  text-transform: uppercase
  background-color: $orange
  text-decoration: none
  color: white
  +border-radius(2px)
  font-size: 0.8rem

  @media screen and (min-width: 321px)
    font-size: 1rem

// Delete above

@mixin hidden-start-top
  +opacityz(0)
  $startOffsetTop: -10px
  -webkit-transform: translateY($startOffsetTop)
  -moz-transform: translateY($startOffsetTop)
  -ms-transform: translateY($startOffsetTop)
  -o-transform: translateY($startOffsetTop)
  transform: translateY($startOffsetTop)

#consumers-hero
  +prdb
  +box-sizing
  width: 100%
  height: 100%
  min-height: 400px
  overflow: hidden
  background-color: black
  
  .splash-img
    +padb
    +square(100%)
    top: 0
    left: 0
    +opacityz(0)
    background-image: url('../img/consumers-splash-mob.jpg')
    background-size: cover
    background-position: bottom center

  .cta-wrap
    +padb
    +box-sizing
    top: 10%
    left: 5%
    width: 90%
    height: auto

    h3, a 
      +hidden-start-top 

    h3
      margin: 0

    a
      +prdb
      margin: 1.5rem auto

  @media screen and (min-width: 922px)
    min-height: 600px

    .splash-img
      background-image: url('../img/consumers-splash-dt.jpg')
      background-position: center

    .cta-wrap
      +prdb
      top: auto
      left: auto
      width: 66%
      height: auto
      margin: 25% auto 0 auto

      h3
        +prdb
        width: 360px
        margin: 0
        text-align: left

      a
        +prdb
        margin: 1.5rem 0 0 0
