@import 'global'

html, body 
  background-color: $light-grey
  height: 100%
  width: 100%



#floating-phone-wrap
  +prdb
  margin: 100px auto
  width: 300px
  height: 307px

  -webkit-perspective: 600px
  -moz-perspective: 600px
  perspective: 600px

  &.fallback
    background-image: url(../img/phone-fallback.png)
    background-size: contain
    background-size: center
    background-repeat: no-repeat

    img 
      +dn

  img
    +padb
    +square(100%)
    -webkit-transform-origin: 25% 82%
    -moz-transform-origin: 25% 82%
    transform-origin: 25% 82%

    &.phone-device
      -webkit-transform: rotateX(20deg) rotateY(-5deg) rotate(5deg)
      -moz-transform: rotateX(20deg) rotateY(-5deg) rotate(5deg)
      transform: rotateX(20deg) rotateY(-5deg) rotate(5deg)

    &.phone-shadow
      -webkit-transform: rotateX(20deg) translateY(-10px)
      -moz-transform: rotateX(20deg) translateY(-10px)
      transform: rotateX(20deg) translateY(-10px)

  @media screen and (min-width: 922px)
    margin: 100px auto
    width: 392px
    height: 401px


