@import 'global'

#hero-header
  +prdb
  width: 100%
  height: 100%
  min-height: 400px
  overflow: hidden
  background-color: $orange
  +opacityz(0)

  .states-container
    +prdb
    +square(100%)
    margin: 0
    padding: 0
    
    .states
      +padb
      +box-sizing
      +square(100%)
      top: 0
      left: 0
      padding: 0 8%
      background-size: cover
      background-position: center
      -webkit-transform : translate3d(0,0,0)
      -moz-transform : translate3d(0,0,0)
      -ms-transform : translate3d(0,0,0)
      -o-transform : translate3d(0,0,0)
      transform : translate3d(0,0,0)

      h3.states-copy
        +padb
        +box-sizing
        width: 100%
        padding: 0 8%
        margin: 0
        text-align: center
        color: white
        left: 0
        top: 68%
        -webkit-transform: translateY(10px)

      &.initial-state
        background-color: $orange

      &.coffee-cup-state
        background-image: url(../img/hero-state-2.jpg)

      &.pizza-state
        background-image: url(../img/hero-state-3.jpg)

      &.mobile-state
        background-image: url(../img/hero-state-4.jpg)

        h3
          top: 72%

  .drawings, .fallback-wrap
    +padn
    top: 45%
    left: 50%
    cursor: pointer
    +highness

  .fallback-wrap
    width: 300px
    height: 180px
    margin: -90px 0 0 -150px

    img 
      +padb
      width: 100%

  .drawings
    height: 200px
    width: 200px
    margin: -100px 0 0 -100px

    .main-logo-split, .final-logo-split
      +padb
      width: 140px
      height: 140px
      top: 30px
      left: 30px
      z-index: 10

      .split-elem
        +padb
        +square(100%)
        top: 0
        left: 0

        svg
          +padb
          +square(100%)
          top: 0
          left: 0

    .final-logo-split
      +opacityz(0)

    .paymark
      +padb
      width: 280px
      left: -40px
      top: 80px
      z-index: 1

    .icon-elems
      +padb
      +square(100%)
      top: 0
      left: 0

      svg
        +prdb
        width: 100%
        height: 100%
        margin: 0

      #drawings-logo-base
        fill: none
        +opacityz(0)
        +no-pointer-events
        +highness

      &.exception
        top: auto
        bottom: 0
        width: 200px
        height: 320px

        .phone-screens
          +padb
          width: 154px
          height: 274px
          top: 24px
          left: 32px
          background-color: #252525
          overflow: hidden

          img 
            +padb
            +square(100%)
            top: 0
            left: 0


    .svg-icon
      svg
        fill: none

  @media screen and (min-width: 990px)
    min-height: 600px

    .states-container
      +prdb
      +square(100%)
      margin: 0
      padding: 0

      .states
        h3
          top: 72%

    .fallback-wrap
      width: 500px
      height: 300px
      margin: -150px 0 0 -250px

    .drawings

      .paymark
        +padb
        width: 500px
        left: -150px
        top: 80px
        z-index: 1