@import 'global'

@mixin hidden-start-horiz($offset: -10px)
  +opacityz(0)
  -webkit-transform: translateX($offset)
  -moz-transform: translateX($offset)
  -ms-transform: translateX($offset)
  -o-transform: translateX($offset)
  transform: translateX($offset)


@mixin hidden-start-top($offset: -10px)
  +opacityz(0)
  -webkit-transform: translateY($offset)
  -moz-transform: translateY($offset)
  -ms-transform: translateY($offset)
  -o-transform: translateY($offset)
  transform: translateY($offset)


#lazyloading-content
  +prdb
  height: 100%
  width: 100%
  min-height: 600px
  background: #858585

  .header
    +prdb
    height: 100%
    width: 100%
    overflow: hidden

    h1
      +prdb
      font-size: 2.5rem
      text-align: center
      color: white
      overflow: hidden
      margin: 20% auto 0 auto
    
      em
        font-size: 1.6rem
        font-style: normal
        color: $light-grey

  .lazy-section
    +prdb
    height: 500px
    width: 900px
    margin: 40px auto
    background-color: white

    .lazy-content
      +prdib
      +box-sizing
      width: 50%
      height: 100%
      vertical-align: top
    
      &.graphic-wrap

        img
          +padb

      &.copy-wrap
        +hidden-start-top(40px)

        h3, p
          font-weight: 300

        h3
          margin: 0
          font-size: 2rem

        p 
          color: #58595b
          margin: 1.8rem 0


        img.cta
          +prdb
          +hidden-start-horiz
          width: 168px
          cursor: pointer
          

  .checkout-section

    .graphic-wrap

      &#graphics1
        +opacityz(0)

        .lazyphone1
          -webkit-transform: translateX(-50px)
          -moz-transform: translateX(-50px)
          -ms-transform: translateX(-50px)
          -o-transform: translateX(-50px)
          transform: translateX(-50px)
          
          top: 53px
          left: 0
          width: 238px

        .lazyphone2
          $amt: -200px
          -webkit-transform: translateX($amt)
          -moz-transform: translateX($amt)
          -ms-transform: translateX($amt)
          -o-transform: translateX($amt)
          transform: translateX($amt)
          
          top: 30px
          left: 126px
          width: 297px

    .copy-wrap 

      &#copy1
        padding: 130px 45px

  .security-section

    .graphic-wrap

      &#graphics2
        
        .lazyphone3
          +padb
          +hidden-start-horiz(100px)
          right: 0
          top: 22px
          width: 260px

    .copy-wrap 

      &#copy2
        padding: 150px 0 0 30px

  .budget-section

    .graphic-wrap

      &#graphics3
        
        .lazyphone4
          +padb
          +hidden-start-horiz(-100px)
          left: 0
          top: 22px
          width: 260px

    .copy-wrap 

      &#copy3
        padding: 150px 0 0 30px
