@import 'global'

h3
  font-size: 1rem

  @media screen and (min-width: 321px)
    font-size: 1.5rem
  
  font-weight: 400

a
  +body-font
  +box-sizing
  text-align: center
  width: 10rem
  padding: 0.7rem 0
  text-transform: uppercase
  background-color: $orange
  text-decoration: none
  color: white
  +border-radius(2px)
  font-size: 0.8rem

  @media screen and (min-width: 321px)
    font-size: 1rem


$zoomScale: 1.07

@-webkit-keyframes zoomin
  0%
    -webkit-transform: scale(1)
    -moz-transform: scale(1)
    -ms-transform: scale(1)

  50%
    -webkit-transform: scale($zoomScale)
    -moz-transform: scale($zoomScale)
    -ms-transform: scale($zoomScale)

  100%
    -webkit-transform: scale(1)
    -moz-transform: scale(1)
    -ms-transform: scale(1)


@keyframes zoomin
  0%
    transform: scale(1)

  50%
    transform: scale($zoomScale)

  100%
    transform: scale(1)

@mixin hidden-start-top
  +opacityz(0)
  $startOffsetTop: -10px
  -webkit-transform: translateY($startOffsetTop)
  -moz-transform: translateY($startOffsetTop)
  -ms-transform: translateY($startOffsetTop)
  -o-transform: translateY($startOffsetTop)
  transform: translateY($startOffsetTop)

#processors-hero
  +prdb
  +box-sizing
  width: 100%
  height: 100%
  min-height: 400px
  overflow: hidden
  background-color: black
  
  .splash-img
    +padb
    +square(100%)
    top: 0
    left: 0
    +opacityz(0)
    background-image: url('../img/processors-splash.jpg')
    background-size: cover
    background-position: center

  .drawings-wrap
    +highness
    +padb
    +opacityz(0)
    top: 50%
    left: 50%
    height: 195px
    width: 195px
    margin: -97px 0 0 -97px
    z-index: 10

    .fallback
      +padn
      width: 196px
      height: 300px
      bottom: 0
      left: -10px

    .confirm-screen
      +padb
      +opacityz(0)
      bottom: 21px
      left: 32px
      width: 149px
      height: 267px

    svg
      +padb
      width: 195px
      height: 195px

      &.mobile-surround
        bottom: 0
        height: 312px

      &.drawings-base
        left: -20px
        top: 0

  .cta-wrap
    +padb
    +box-sizing
    top: 70%
    left: 5%
    width: 90%
    height: auto

    h3, a 
      +hidden-start-top 

    h3
      margin: 0
      color: white
      text-align: center

    a
      +prdb
      margin: 1rem auto

  @media screen and (min-width: 922px)
    min-height: 600px

    .splash-img.zoom-bg
      $zoomDuration: 30s
      -webkit-animation: zoomin $zoomDuration infinite linear
      -moz-animation: zoomin $zoomDuration infinite linear
      -webkit-transform-origin: 10% 90%
      -moz-transform-origin: 10% 90%

    .cta-wrap
      top: 72%