@import 'global'

h3
  font-size: 1rem

  @media screen and (min-width: 321px)
    font-size: 1.5rem
  
  font-weight: 400

a
  +body-font
  text-align: center
  width: 10rem
  padding: 0.7rem 0
  text-transform: uppercase
  background-color: $orange
  text-decoration: none
  color: white
  +border-radius(2px)
  font-size: 0.8rem

  @media screen and (min-width: 321px)
    font-size: 1rem 



$zoomScale: 1.07

@-webkit-keyframes zoomin
  0%
    -webkit-transform: scale(1)
    -moz-transform: scale(1)
    -ms-transform: scale(1)

  50%
    -webkit-transform: scale($zoomScale)
    -moz-transform: scale($zoomScale)
    -ms-transform: scale($zoomScale)

  100%
    -webkit-transform: scale(1)
    -moz-transform: scale(1)
    -ms-transform: scale(1)


@keyframes zoomin
  0%
    transform: scale(1)

  50%
    transform: scale($zoomScale)

  100%
    transform: scale(1)

@mixin hidden-start-top
  +opacityz(0)
  $startOffsetTop: -10px
  -webkit-transform: translateY($startOffsetTop)
  -moz-transform: translateY($startOffsetTop)
  -ms-transform: translateY($startOffsetTop)
  -o-transform: translateY($startOffsetTop)
  transform: translateY($startOffsetTop)


.zoom-bg
  $zoomDuration: 30s
  -webkit-animation: zoomin $zoomDuration infinite linear
  -moz-animation: zoomin $zoomDuration infinite linear
  -webkit-transform-origin: 10% 90%
  -moz-transform-origin: 10% 90%


#retailers-hero
  +prdb
  +box-sizing
  width: 100%
  height: 100%
  min-height: 400px
  overflow: hidden
  background-color: black
  
  .splash-img
    +padb
    +square(100%)
    top: 0
    left: 0
    +opacityz(0)
    background-image: url('../img/retailers-splash.jpg')
    background-size: cover
    background-position: center


  .drawings-wrap
    +padb
    +box-sizing
    +opacityz(0)
    margin: -100px 0 0 -100px
    top: 40%
    left: 50%
    height: 200px
    width: 200px
    cursor: pointer
    +highness

    .fallback
      +padn
      width: 170px
      height: 192px
      top: 0px
      left: 11px

    svg
      +padb
      +square(100%)
      top: 0
      left: 0

  .cta-wrap
    +padb
    +box-sizing
    top: 60%
    left: 5%
    width: 90%
    height: auto

    h3, a 
      +hidden-start-top 

    h3
      font-size: 1rem

      @media screen and (min-width: 321px)
        font-size: 1.5rem
      
      font-weight: 400
      margin: 0
      color: white
      text-align: center

    a
      +prdb
      margin: 1rem auto

  @media screen and (min-width: 922px)
    min-height: 600px

    .drawings-wrap
      margin: -125px 0 0 -125px
      +square(250px)

      .fallback
        width: 200px
        height: 226px
        top: 15px
        left: 23px

    .cta-wrap
      top: 70%
      
      h3 
        font-size: 1.5rem