@import 'global'




$cpyAmt: 10px

@mixin hidden-start-top
  +opacityz(0)
  $startOffsetTop: -10px
  -webkit-transform: translateY($startOffsetTop)
  -moz-transform: translateY($startOffsetTop)
  -ms-transform: translateY($startOffsetTop)
  -o-transform: translateY($startOffsetTop)
  transform: translateY($startOffsetTop)

@mixin hidden-start-horiz($offset: -10px)
  +opacityz(0)
  -webkit-transform: translateX($offset)
  -moz-transform: translateX($offset)
  -ms-transform: translateX($offset)
  -o-transform: translateX($offset)
  transform: translateX($offset)

@mixin hidden-start-zoom($startScale)
  +opacityz(0)
  -webkit-transform: scale($startScale)
  -moz-transform: scale($startScale)
  -ms-transform: scale($startScale)
  -o-transform: scale($startScale)
  transform: scale($startScale)

#tech-journey-wrap
  +prdb
  width: 100%
  height: auto
  margin: 0
  background-color: #eae7e4
  overflow: hidden

  #tech-steps
    +prdb
    +box-sizing
    width: 100%
    padding: 0 5%
    max-width: 600px
    margin: auto

    h4, p
      color: #383838

      em
        font-style: normal
        color: $orange

    h4
      font-weight: 500
      font-size: 0.8rem

    p 
      font-size: 0.7rem

    .tech-laptop
      +prdb
      +box-sizing
      width: 100%
      height: auto
      max-width: 418px
      margin: 25px auto 0 auto
      +hidden-start-top

    .steps
      +prdb
      width: 100%

      .faux-roads
        +dn

      .roads
        +padb
        border-radius: 6px
        background-color: white

        &.vert
          width: 12px

          &.mid 
            margin: 0 0 0 -6px
            left: 50%

          .prog-line
            width: 12px
            height: 0
            top: 0
            left: 0
            overflow: hidden

          img.marker
            +padb
            +square(32px)
            left: -10px
            top: -16px
            +highness

        &.horiz
          width: calc(50% + 6px)
          height: 12px

          .prog-line
            height: 12px
            width: 0
            top: 0

            &.left
              right: 0

            &.right
              left: 0

        .prog-line
          +padb
          background-color: $orange
          +border-radius(6px)

      $roadsMax: 5
      @for $i from 0 to $roadsMax
        .roads:nth-child(#{$roadsMax + $i})
          z-index: $i

      &#step1
        height: 340px

        .road1
          top: 0
          height: 125px

        .road2
          top: 113px

        .road3
          height: 227px
          top: 125px
          margin-top: -12px

        .token-wrap
          +padb
          width: 250px
          height: 101px
          top: 185px
          left: 50%
          margin: 0 0 0 -125px

          img 
            +prdib
            vertical-align: top
            +hidden-start-horiz

          .basket
            width: 83px
            height: 95px

          .token
            top: -8px
            width: 79px
            height: 101px

          .arrow 
            margin: 25px 15px 25px 10px
            width: 32px
            height: 22px

      &#step2
        height: 300px

        .road1
          height: 200px
          left: 0

        .road2
          top: 200px
          margin: -12px 0 0 0

        .road3
          height: 112px
          top: 188px

      &#step3
        height: 260px

        .road1
          height: 100px

        .road2 
          top: 100px
          margin-top: -12px

        .faux-road
          +padb
          z-index: 0
          height: 12px
          width: 150px
          left: 50%
          top: 100px
          margin-top: -12px
          background-size: contain
          background-position: center

        .road3
          height: 172px
          top: 100px
          margin-top: -12px

        &.route-a

          .faux-road
            background-image: url('../img/faux-route-right.png') 

          .road3
            left: 0

        &.route-b

          .faux-road
            margin-left: -150px
            background-image: url('../img/faux-route-left.png') 

          .road2
            left: calc(50% - 6px)

            .prog-line
              left: 0

          .road3
            left: 100%
            margin-left: -12px

        .step-3-copy
          +padb
          +box-sizing
          width: 220px
          background-color: white
          +nearly-ontop
          border: 1px solid #d9d6d3
          +border-radius(2px)
          padding: 15px
          left: 50%
          margin: -60px 0 0 -110px
          +hidden-start-zoom(0.7)

          h4, p 
            +hidden-start-top
            margin-bottom: 0
            text-align: center

          h4
            margin-top: 0

        .options-wrap
          +padb
          height: 42px
          width: 70%
          margin: 0 15%
          top: 73px

          .options
            +prdib
            +box-sizing
            +border-radius(4px)
            height: 42px
            width: 82px
            border: 2px solid white
            color: white
            background-color: #898989
            text-transform: uppercase
            font-size: 0.8rem
            cursor: pointer
            +highness            

            &:active
              background-color: black

            &:last-child
              float: right

      &#step4
        height: 460px

        #tech-ping, #tech-noapp
          +padb
          width: 189px
          height: 311px
          top: -75px

        #tech-ping
          right: -20%
          +hidden-start-horiz(60px)

        #tech-noapp
          +hidden-start-horiz(-60px)
          left: -20%

        .road1
          height: 320px

        .road2 
          top: 320px
          margin-top: -12px

        #tech-noapp, .copy3b
          // +dn

        .road1
          left: 0

        .road2
          left: 0

          .prog-line
            left: 0       

        &.route-b
          #tech-ping, #copy3a
            +dn

          .road1
            left: 100%
            margin-left: -12px

          .road2
            left: calc(50% - 6px)

            .prog-line
              left: auto
              right: 0
        
        .road3
          height: 152px
          top: 320px
          margin-top: -12px

      &#step5
        height: 380px

        .road1
          height: 380px

        #tech-transaction
          +padb
          top: -60px
          left: 8%
          width: 90px
          height: 269px

          img
            +padb
            +opacityz(0)

            &.tech-bank1, &.tech-shop, &.tech-down-arrow
              -webkit-transform: translateY(-$cpyAmt)
              -moz-transform: translateY(-$cpyAmt)
              -ms-transform: translateY(-$cpyAmt)
              -o-transform: translateY(-$cpyAmt)
              transform: translateY(-$cpyAmt)

            &.tech-bank1, &.tech-shop, &.tech-down-arrow
              left: 0
              width: 90px

            &.tech-bank1
              top: 0

            &.tech-token2
              width: 66px
              // left: 17px
              left: 11.5%
              top: 0%

              $rotFrom: -35deg

              -webkit-transform: rotate($rotFrom) translateY(5%)
              -moz-transform: rotate($rotFrom) translateY(5%)
              -ms-transform: rotate($rotFrom) translateY(5%)
              -o-transform: rotate($rotFrom) translateY(5%)
              transform: rotate($rotFrom) translateY(5%)

            &.tech-shop
              bottom: 0

            &.tech-tick
              +opacityz(0)
              -webkit-transform: scale(0)
              -moz-transform: scale(0)
              -ms-transform: scale(0)
              -o-transform: scale(0)
              transform: scale(0)
              // width: 59px
              // left: 27px
              // top: 205px
              width: 48px
              left: 23.5%
              top: 60%

            &.tech-down-arrow
              // top: 122px
              top: 36%



      &#step6
        height: auto
        width: 80%
        max-width: 500px
        margin-left: auto
        margin-right: auto

        .roads 
          margin-top: -6px

          .marker
            top: -10px

        .road0
          +dn

        .road1
          left: 0

          &.righty
            left: calc(50% - 6px)

        .road2
          height: 66px

          &.mid 
            +ontop
          
          &.righty
            left: 100%
            margin-left: -12px

      #tech-enpoint-wrap
        +prdb
        width: 100%
        height: 150px

        img.endpoints
          +padb
          top: 70px
          width: 56px
          height: 75px
          margin-left: -28px
          +hidden-start-zoom(0.8)

          &.consumer
            left: 6px

          &.retailer
            left: 50%
              
          &.bank
            left: 100%

    .journey-copy
      +padb
      overflow: hidden
      margin: -0.5rem 0 0 0
      +hidden-start-top

      h4, p
        margin-top: 0

        em 
          text-transform: uppercase

      h4 
        margin: 0 0 0.5rem 0
      p 
        margin: 0.5rem 0

      &.copy1, &.copy5
        +prdb
        width: 100%
        margin: 20px 0 35px 0

        h4, p
          text-align: center

      &.copy2
        width: 80%
        left: 40px

      &.copy3a
        width: 48%
        left: 40px

      &.copy3b
        text-align: right
        width: 48%
        right: 40px

      &.copy4 
        left: calc(50% + 25px)
        width: 40%


// DESKTOP OVERRIDE
@import 'tech-dt'