@media screen and (min-width: 922px)
  #tech-journey-wrap

    #tech-steps
      padding: 0
      margin: 160px auto 0 auto
      max-width: 680px

      .tech-laptop
        +padb
        width: 418px
        height: 260px
        top: -115px
        left: -130px
        margin: 0

      .steps

        .faux-roads
          +padb
          margin-top: -12px
          background-repeat: repeat

          img.marker
            +padb
            +square(32px)
            left: -10px
            top: -16px
            +highness

          &.horiz
            height: 12px
            background-image: url('../img/faux-horiz-repeat.png')
            background-size: 6px 12px

          &.vert
            width: 12px
            background-image: url('../img/faux-vert-repeat.png')
            background-size: 12px 6px

        &#step1
          height: 400px

          .road1
            height: 260px

          .road2
            width: 143px
            left: 202px
            top: 248px

          .road3
            height: 152px
            top: 260px
            left: 202px

          .token-wrap
            top: 368px
            left: -110px
            margin: 0

            .arrow 
              margin: 25px 25px 25px 20px

        &#step2
          height: 300px

          .road1
            height: 200px
            left: 202px

          .road2
            width: 143px
            left: 202px

          .road3
            height: 112px
            top: 188px

        &#step3
          height: 200px

          .road1
            height: 100px

          .road2 
            top: 100px
            width: 255px
            left: 90px

          .road3
            height: 108px
            top: 100px
            margin-top: -12px

          .faux-road
            +dn

          .road2-faux
            top: 100px
            left: 50%
            width: 255px

          .road3-faux
            left: 588px
            height: 108px
            top: 111px

          &.route-a

            .road3
              left: 90px

          .step-3-copy
            +padb
            +box-sizing
            width: 220px
            background-color: white
            +nearly-ontop
            border: 1px solid #d9d6d3
            +border-radius(2px)
            padding: 15px
            left: 50%
            margin: -60px 0 0 -110px
            +hidden-start-zoom(0.7)

            h4, p 
              +hidden-start-top
              margin-bottom: 0
              text-align: center

            h4
              margin-top: 0

          .options-wrap
            +padb
            height: 42px
            width: 40%
            margin: 0 30%
            top: 73px

            .options
              cursor: default
              +no-pointer-events

              &.selected
                background-color: $orange

              &:active
                background-color: #898989


        &#step4
          height: 450px

          #tech-noapp
            +dn

          #tech-ping
            top: -100px
            +hidden-start-horiz(-50px)

          #tech-ping
            left: -25%

          .road1
            height: 215px

          .road2 
            top: 215px
            width: 255px

          .road1-faux
            left: 588px
            height: 216px
            top: 0
            margin-top: 0

          .road2-faux
            top: 218px
            left: 50%
            width: 249px
            

          &.route-a
            #copy3b
              +db

            .road1
              left: 90px

            .road2
              left: 90px

              .prog-line
                left: 0       

          &.route-b

            .road1
              left: 590px
              margin-left: -12px

            .road2
              left: calc(50% - 6px)
          
          .road3
            height: 248px
            top: 215px
            margin-top: -12px

        &#step5
          height: 295px

          .road1
            height: 295px

          #tech-transaction
            width: 114px
            height: 341px
            top: -140px
            left: 100px

            img
              +padb
              +opacityz(0)

              &.tech-bank1, &.tech-shop, &.tech-down-arrow
                width: 114px

              &.tech-bank1
                top: 0

              &.tech-token2
                width: 79px
                left: 17px
                top: 15px

                $rotFrom: -35deg

                -webkit-transform: rotate($rotFrom)
                -moz-transform: rotate($rotFrom)
                -ms-transform: rotate($rotFrom)
                -o-transform: rotate($rotFrom)
                transform: rotate($rotFrom)

              &.tech-shop
                top: 230px
                width: 114px

              &.tech-tick
                +opacityz(0)
                -webkit-transform: scale(0)
                -moz-transform: scale(0)
                -ms-transform: scale(0)
                -o-transform: scale(0)
                transform: scale(0)
                width: 62px
                left: 26px
                top: 209px

              &.tech-down-arrow
                top: 122px

        &#step6
          width: 100%
          height: 415px
          max-width: none
          margin-left: auto
          margin-right: auto

          .roads
            margin-top: -6px

            .marker
              top: -10px

          .road0
            +db
            height: 180px
            +ontop

          .road1
            top: 170px
            left: 0

            &.righty
              left: calc(50% - 6px)

          .road2
            top: 170px
            height: 66px

            &.mid 
              z-index: 1

              .marker
                +dn
            
            &.righty
              left: 100%
              margin-left: -12px

        #tech-enpoint-wrap
          +prdb
          +box-sizing
          width: 100%
          height: 350px
          top: auto

          img.endpoints
            +padb
            top: 240px
            width: 56px
            height: 75px
            margin-left: -28px

            &.consumer
              left: 6px

            &.retailer
              left: 50%
                
            &.bank
              left: 100%

      .journey-copy
        +padb
        overflow: hidden
        margin: -0.5rem 0 0 0
        +hidden-start-top

        h4, p
          margin-top: 0

          em 
            text-transform: uppercase

        h4 
          margin: 0 0 0.5rem 0
        p 
          margin: 0.5rem 0

        &.copy1, &.copy5
          +padb
          width: 100%
          margin: -0.5rem 0 0 0

          h4, p
            text-align: left

        &.copy1
          width: 260px
          left: 60%

        &.copy2
          width: 470px
          left: 280px

        &.copy3a
          width: 200px
          left: 145px

        &.copy3b
          text-align: left
          width: 190px
          right: auto
          left: 645px

        &.copy4
          left: 400px
          width: 320px

        &.copy5
          +padb
          width: 320px
          left: 400px
          top: 0
