!!! 5

%html

  %head

    %title Banks Hero

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    / %link{rel: "stylesheet", type: "text/css", href: "./css/vendor.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./css/banks.css"}

    %body

      #banks-hero

        #splash-bg.splash-img

        #drawings-wrap.drawings-wrap

          %img#mobile-fallback.fallback{src: "img/banks-fallback.png"}/

          %img#mobile-confirm-screen.confirm-screen{src: "img/banks-confirm-screen.jpg"}/

          %svg#drawings-base.drawings-base{:viewbox => "0 0 80 80"}
            :css
              .base0{filter:url(#BanksBaseFilter);}
              .base1{fill:#FFFFFF;}
              .base2{mask:url(#BanksBaseMask);}
              .base3{fill:none;stroke:#ffffff;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            %defs
              
              %filter{id: "BanksBaseFilter", filterUnits: "userSpaceOnUse", x: "5.8", y: "60.8", width: "14", height:"17.8"}
                %feColorMatrix{type: "matrix", values: "-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0", 'color-interpolation-filters' => "sRGB", result:"source"}
                %feFlood{style: "flood-color:white;flood-opacity:1", result: "back"}
                %feBlend{in: "source", in2: "back", mode: "normal"}

            %mask{maskUnits: "userSpaceOnUse", x: "5.8", y: "60.8", width: "14", height: "17.8", id:"BanksBaseMask"}
              %g.base0
                %circle{class: "base1", cx: "11.6", cy: "77.7", r: "0.6"}

            %g.base2
              %g
                %g
                  %polyline{class: "base3", points: "16,76.1 16,77.9 6.5,77.9 6.5,61.6 19,61.6 13.1,71.9"}
                  %line{class: "base3", x1: "16", y1: "77.4", x2: "6.5", y2:"77.4"}

          %svg#mobile-surround.mobile-surround{viewbox: "0 0 80 126"}
            :css
              .mobile-surround-0{fill:none;stroke:#FFF;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            %path{class: "mobile-surround-0", d: "M5.1,119L75,119L75,8L12.5,8L12.5,100"}
        
        #cta-wrap.cta-wrap

          %h3#hero-text Putting the bank at the heart of spending

          %a{href: "#", class: "button primary radius easier-payments", id: 'hero-link'} BOOK A DEMO



      / Scripts
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'}
      %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}
      
      %script{src: "./js/vendor.min.js"}
      %script{src: "./js/banks.js"}
      