!!! 5

%html

  %head

    %title Lazyload Demo

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    %link{rel: "stylesheet", type: "text/css", href: "./css/lazyload-demo.css"}

    %body

      #lazyloading-content

        %section.header

          %h1
            Some hero header
            %br/
            %em Scroll down to see demo lazyloading animations

        %section.lazy-section.checkout-section{'data-section-num' => 1}><
          
          .lazy-content.graphic-wrap#graphics1><
            %img#lazyphone1.lazyphone1{src: "img/lazy-phone1.png"}/
            %img#lazyphone2.lazyphone2{src: "img/lazy-phone2.png"}/

          .lazy-content.copy-wrap.right#copy1><

            %h3 Breeze through checkout

            %p Selecting Pay by Bank App&trade; at the checkout allows you can pay directly from your banking app in seconds. No new passwords or pin codes to remember.

            %img.cta#cta{src: "img/lazy-cta.jpg"}/

        %section.lazy-section.security-section{'data-section-num' => 2}><

          .lazy-content.copy-wrap.right#copy2><

            %h3 Security from your trusted bank

            %p Your account information never leaves your bank app and your personal details are shielded from criminal intent.

          .lazy-content.graphic-wrap#graphics2><

            %img#lazyphone3.lazyphone3{src: "img/lazy-phone3.png"}/


        %section.lazy-section.budget-section{'data-section-num' => 3}><

          .lazy-content.graphic-wrap#graphics3><

            %img#lazyphone4.lazyphone4{src: "img/lazy-phone4.png"}/

          .lazy-content.copy-wrap.right#copy3><

            %h3 Know exactly how much you’re spending

            %p Paying from your banking app means seeing your balance before and after you pay and choosing the account to pay from all in real time.


      / Scripts
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'}
      %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}

      %script{src: "./js/lazyload-demo.js"}
      