!!! 5

%html

  %head

    %title Retailers Hero

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    / %link{rel: "stylesheet", type: "text/css", href: "./css/vendor.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./css/retailers.css"}

    %body

      #retailers-hero

        #splash-bg.splash-img

        #drawings-wrap.drawings-wrap

          %img#sterling-fallback.fallback{src: "img/retailers-sterling.png"}/

          %svg#drawings-base.drawings-base{:viewbox => "0 0 80 80"}
            :css
              .base0{filter:url(#Adobe_OpacityMaskFilter);}
              .base1{fill:#FFFFFF;}
              .base2{mask:url(#SVGID_1_);}
              .base3{fill:none;stroke:#ffffff;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            %defs
              
              %filter{id: "Adobe_OpacityMaskFilter", filterUnits: "userSpaceOnUse", x: "5.8", y: "60.8", width: "14", height:"17.8"}
                %feColorMatrix{type: "matrix", values: "-1 0 0 0 1  0 -1 0 0 1  0 0 -1 0 1  0 0 0 1 0", 'color-interpolation-filters' => "sRGB", result:"source"}
                %feFlood{style: "flood-color:white;flood-opacity:1", result: "back"}
                %feBlend{in: "source", in2: "back", mode: "normal"}

            %mask{maskUnits: "userSpaceOnUse", x: "5.8", y: "60.8", width: "14", height: "17.8", id:"SVGID_1_"}
              %g.base0
                %circle{class: "base1", cx: "11.6", cy: "77.7", r: "0.6"}

            %g.base2
              %g
                %g
                  %polyline{class: "base3", points: "16,76.1 16,77.9 6.5,77.9 6.5,61.6 19,61.6 13.1,71.9"}
                  %line{class: "base3", x1: "16", y1: "77.4", x2: "6.5", y2:"77.4"}


          %svg#sterling.sterling{:viewbox => "0 0 80 80"}
            :css
              .sterling0{fill:none;stroke:#ffffff;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            %path.sterling0{d: "M13.1,71.9h59.5l0-17.4c-14.4,0-31.5,0.8-35.1,1.4c3.2-3.1,4.8-6.4,4.4-9.7h19.5V33.1H41.6v-7.9c0,0-0.6-6.6,6.6-6.6s9.8,8.8,9.8,8.8l15.5-5.9c0,0,0.3-19.4-25.2-19.4S22.8,21.4,22.8,21.4v11.6h-6.2v13.1h6.1c0,5.5-6.4,5-6.4,9.7"}

        #cta-wrap.cta-wrap

          %h3#hero-text Increase conversion while reducing fraud

          %a{href: "#", class: "button primary radius easier-payments", id: 'hero-link'} BOOK A DEMO



      / Scripts
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'}
      %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}
      
      %script{src: "./js/vendor.min.js"}
      %script{src: "./js/retailers.js"}
      