!!! 5

%html

  %head

    %title Technology | Pay By Bank

    / Meta
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"}
    %meta{name: "msapplication-tap-highlight", content: "no"}
    
    / Styles
    / %link{rel: "stylesheet", type: "text/css", href: "./css/vendor.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "./css/tech.css"}

    %body

      #tech-journey-wrap

        #tech-steps

          %img{class: 'tech-laptop', src: "img/tech-laptop.png", id: "tech-laptop"}/
          
          #copy1.journey-copy.copy1
            %h4
              %em Step 1
              %br/
              Consumer is ready to pay
            %p Either ready to checkout at an online retailer, pay a bill online or an invoice face to face – and taps/clicks paymark.

          #step1.steps{"data-step-num" => 1}

            .road1{class: "roads vert mid"}
              %img{class: 'marker', src: "img/marker.png", id: "marker1"}/
              .prog-line

            .road2{class: "roads horiz"}
              .prog-line.left

            .road3{class: "roads vert"}
              .prog-line

            .token-wrap
              %img{id: "tech-basket", class: "basket", src: "img/tech-basket.png"}/
              %img{id: "tech-arrow",  class: "arrow",  src: "img/tech-arrow.png"}/
              %img{id: "tech-token",  class: "token",  src: "img/tech-token.png"}/

          #step2.steps{"data-step-num" => 2}

            .road1{class: "roads vert"}
              %img{class: 'marker', src: "img/marker.png", id: "marker2"}/
              .prog-line

            .road2{class: "roads horiz"}
              .prog-line.right

            .road3{class: "roads vert mid"}
              .prog-line

            #copy2.journey-copy.copy2
              %h4
                %em Step 2
                %br/
                Basket of goods is sent to Pay by Bank app&trade; securely
              %p Either ready to checkout at an online retailer, pay a bill online or an invoice face to face – and taps/clicks paymark.

          #step3.steps{"data-step-num" => 3, class: "route-a"}
            
            .road2-faux{class: "faux-roads horiz"}
            .road3-faux{class: "faux-roads vert"}
              / %img{class: 'marker', src: "img/marker.png"}/

            .road1{class: "roads vert mid"}
              %img{class: 'marker', src: "img/marker.png", id: "marker3"}/
              .prog-line

            .faux-road

            .road2{class: "roads horiz switch-road"}
              .prog-line.left

            .road3{class: "roads vert switch-road"}
              .prog-line

            #step-3-copy.step-3-copy
              %h4
                %em Checking for bank app
              %p Is the user’s bank app available on the device?

            #step-3-options.options-wrap

              %button#yes.options.selected Yes

              %button#no.options No

          #step4.steps{"data-step-num" => 4, class: "route-a"}

            .road1-faux{class: "faux-roads vert"}
              %img{class: 'marker', src: "img/marker.png"}/
            .road2-faux{class: "faux-roads horiz"}

            %img#tech-ping{src: "img/tech-ping-phone.png"}/
            %img#tech-noapp{src: "img/tech-noapp-phone.png"}/

            #copy3a.journey-copy.copy3a
              %h4
                %em Step 3A
                %br/
                Bank app available 
              %p
                If there is a banking app available on the device then this will recognise the token and open automatically (or if there are multiple then they are offered a choice).

            #copy3b.journey-copy.copy3b
              %h4
                %em Step 3B
                %br/
                Bank app is 
                %u not available 
                on device
              %p
                If there is not a banking app then a code is automatically provided to enter into a mobile banking app on another device to retrieve the Request to Pay.
            
            / From 3A
            .road1{class: "roads vert switch-road"}
              %img{class: 'marker', src: "img/marker.png", id: "marker4"}/
              .prog-line

            .road2{class: "roads horiz switch-road"}
              .prog-line.left

            / Common
            .road3.to3b{class: "roads vert mid"}
              .prog-line

          #step5.steps{"data-step-num" => 5}

            #tech-transaction
              %img#tech-token2.tech-token2{src: "img/tech-token2.png"}/
              %img#tech-bank1.tech-bank1{src: "img/tech-bank1.jpg"}/
              %img#tech-down-arrow.tech-down-arrow{src: "img/tech-down-arrow.png"}/
              %img#tech-shop.tech-shop{src: "img/tech-shop.jpg"}/
              %img#tech-tick.tech-tick{src: "img/tech-tick.png"}/

            #copy4.journey-copy.copy4
              %h4
                %em Step 4
                %br/
                Consumer reviews purchase
              %p
                Once the Request to Pay is retrieved within the secured Mobile Banking App the Consumer can review all the relevant information and initiate the payment, with the benefit of reviewing their balance and adding fulfilment information to the order if required.

            
            .road1{class: "roads vert mid"}
              .prog-line
              %img{class: 'marker', src: "img/marker.png", id: "marker5"}/

          #step6.steps{"data-step-num" => 6}

            .road1{class: "roads horiz road1a"}
              .prog-line.left

            .road1.righty{class: "roads horiz road1b"}
              .prog-line

            .road2{class: "roads vert road2a"}
              .prog-line

            .road2{class: "roads vert mid road2b"}
              .prog-line
              %img{class: 'marker', src: "img/marker.png", id: "marker6"}/

            .road2.righty{class: "roads vert road2c"}
              .prog-line

            .road0{class: "roads vert mid road0"}
              %img{class: 'marker', src: "img/marker.png", id: "marker6dt"}/
              .prog-line

            #tech-enpoint-wrap

              %img.endpoints.consumer{src: "img/tech-consumer.png"}/
              %img.endpoints.retailer{src: "img/tech-retailer.png"}/
              %img.endpoints.bank{src: "img/tech-bank.png"}/

            #copy5.journey-copy.copy5
              %h4
                %em Step 5
                %br/
                All parties notified
              %p Once confirmation is provided by the bank that the payment has been made then all parties are notified that the goods can be fulfilled.

          #step7.steps{"data-step-num" => 7}



      / Scripts
      %script{src: 'https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.3/TweenMax.min.js'}
      %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"}

      %script{src: "./js/tech.js"}
      